<div class="container d-flex justify-content-center align-items-center vh-50">
    <div class="m-5 shadow p-4 rounded" style="max-width: 500px; width: 100%;">
        <h1 class="text-center">Iniciar Sesión</h1>
        <!-- Formulario de inicio de sesión -->
        <form id="formLogin">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label for="email" class="form-label">Correo Electrónico</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
            </div>
            <div class="text-center">
                <button id="btn-login" type="submit" class="btn btn-primary btn-lg">Iniciar Sesión</button>
            </div>
        </form>
        {{#if error}}
            <p>{{error}}</p>
        {{/if}}
        <div class="text-center mt-3">
            <a href="/users/register">¿No tienes una cuenta? Regístrate</a>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{{!-- <script src="/socket.io/socket.io.js"></script>
<script src="/public/js/socket.js"></script> --}}